* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

body {
    color: $primary_text_color;
}

.container-fullwidth {
    width: $full_width;
}

.container {
    width: $full-width * 0.9;
}

.block-right {
    float: right;
}

.block-left {
    float: left;
}

a {
    text-decoration: none;
    color: $primary_text_color;
}

.btn {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #30488f;
    color: white;

    &:hover {
        background-color: #233569;
    }

}
