header {
    background-color: $bgc_white;
    height: 70px;
    display: flex;
    justify-content: center;

        nav {
            background-color: green;
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .header-links {
                display: flex;
                
                ul {
                    li {
                        float: left;
                        list-style: none;
                    }

                }
            }
        }

}
